.navigation{
    list-style: none;
    margin-top: 0;
    margin-bottom: 5px;
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: right;
    align-items: center;
}

.navigation__logo{
    width: 35px;
}

.navigation__logo--off{
    display: none;
}

.navigation__item{
    display: block;
    text-align: center;
    padding: 10px 15px;
    margin-right: 10px;
}

.navigation__item:first-child{
    display: flex;
    margin-right: auto;
    margin-left: 10px;
}

.navigation__link{
    text-decoration: none;
    padding: 10px 15px;
    color: #2b2b2b;
    font-size: 16px;
    border-radius: 5px;
}

.navigation__link--black{
    color: #fff;
}

.navigation__link:hover{
    color: hsl(0, 99%, 60%);
}

.navigation__link:active{
    color: hsl(0, 99%, 45%);
}
/* Dropdown menu on mobile device */
.mobileMenu{
    position: relative;
}

.mobileMenu__list{
    list-style: none;
    border: none;
    width: 100%;
    position: absolute;
    top: -15px;
    right: 0px;
    background: #fff;
    text-align: center;
    padding-left: 0;
}

.mobileMenu__list--black{
    background: #000;
}

.mobileMenu--off{
    display: none;
}

.mobileMenu__item{
    padding: 10px 15px;
    border-bottom: 1px solid #000;
}

.mobileMenu__item--black{
    border-bottom: 1px solid #fff;
}
/* Night mode switcher  */

.navigation__button{
    border: none;
    cursor: pointer;
    padding: 10px 15px;
    background-color: rgb(204, 200, 200);
    color: #000;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    border-radius: 5px;
}

.navigation__button:hover{
    background-color: rgba(159, 159, 159, 0.885);
    color: #fff;
}

.navigation__themeModeIcon{
    width: 26px;
    height: auto;
}

.navigation__themeModeIcon--off{
    display:none;
}

.navigation__themeModeIcon:hover{
    opacity: 70%;
}

/* Mobile menu humburger button  */

.navigation__item--mobile{
    padding: 10px 5px;
    margin-right: 0px;
}

.navigation__hamburger {
    background-color: rgb(204, 200, 200);
    width: 33px;
    height: 27px;
    border: none;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.navigation__hamburger:hover {
    background-color: rgba(159, 159, 159, 0.885);
}

.navigation__hamburgerItem {
    display: block;
    width: 25px;
    border-bottom: 3px solid #000;
    transition: all 0.3s ease-out;
}

.navigation__hamburgerItem:first-child {
    margin-bottom: 4px;
}

.navigation__hamburgerItem:last-child {
    margin-top: 4px;
}

/* Hamburger click animation*/
.navigation__hamburgerItem--topEffect{
    transform: rotate(45deg) translate(6px, 5px);
}

.navigation__hamburgerItem--middleEffect{
    transform: translateX(40px);
}

.navigation__hamburgerItem--bottomEffect{
    transform: rotate(-45deg) translate(5px, -4px);
}

/* Main header with title and picture */

.header{
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-image: url(../picture/header-background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header__picture{
    max-width: 350px;
    width: 100%;
    padding: 5px;
}

.header_img{
    width: 100%;
    padding: 15px;
    border-radius: 50%;
}

.header__title{
    max-width: fit-content;
    width: 100%;
    padding: 0 10px;
    color: #fff;
}

.header__h1{
    font-size: min(max(10.23vw, 29px), 53px);
    line-height: 1.2em;
    margin-top: 0px;
    margin-bottom: 5px;
}

.header__subtitle{
    font-size: min(max(4.45vw, 18px), 23px);
    text-align: right;
    margin-top: 20px;
}

.header__line{
    display: block;
    width: 100%;
    border-bottom: 1px solid #c0bfbf;
    box-shadow: 1px 1px 3px 1px #c0bfbf;

}

@media screen and (max-width: 1020px) {
    .header{
        flex-direction: column-reverse;
        padding-top: 20px;
        text-align: center;
    }

    .header__subtitle {
        text-align: center;
    }
}

@media screen and (max-width: 675px) {
    .navigation__item--button{
        padding: 10px 5px;
    }

    .navigation__button{
        padding: 10px 5px;
    }
}

@media screen and (min-width: 650px) {
    .navigation__item--mobile {
        display: none;
    }

    .navigation__themeModeIcon{
        display: none;
    }
}

@media screen and (max-width: 650px) {
    .navigation__item:nth-child(n+2):nth-child(-n+4) {
        display: none;
    }

    .navigation__themeModeButton{
        display: none;
    }

    .navigation{
        flex-direction: row;
        padding-right: 5px;
    }

    .navigation__button{
        display: flex;
        padding: 1px 4px;
        background: none;
    }

    .navigation__button:hover{
        background-color: unset;
    }

    .navigation__item:first-child{
        margin-left: 0;
    }

    .navigation__item--button{
        margin-right: 0px;
    }
}

@media screen and (max-width: 450px) {
    .header__picture img{
        max-width: 100%;
    }
}