html{
    box-sizing: border-box;
}

*, ::after, ::before{
    box-sizing: inherit;
}

.body{
    max-width: 1200px;
    margin: 15px auto;
    font-family: 'Roboto', sans-serif;
    line-height: 1.35em;
}


p{
    font-size: 16px;
    margin: 0px;
}

h2{
    font-size: 22px;
    margin-bottom: 10px;
}

.main{
    margin: 0 auto;
    width: 80%;
    position: relative;
}

.paragraph{
    margin-bottom: 20px;
    min-height: 80px;
}

.paragraph-text{
    padding-left: 48px;
    padding-right: 20px;
    text-align: left;
    margin-top: 0px;
    margin-bottom: 10px;
    position: relative;
}

p.paragraph-text::before{
    content: "";
    background-size: contain;
    width: 40px;
    height: 40px;
    background-position: left;
    background-repeat: no-repeat;
    display: block;
    position: absolute;
    left: 0px;
}

.text1::before{
    background-image: url(../picture/internet-icon.png);
}

.text1.blackStyle::before{
    background-image: url(../picture/internet-icon-white.png);
}

.text2::before{
    background-image: url(../picture/programming-icon.png);
}

.text2.blackStyle::before{
    background-image: url(../picture/programming-icon-white.png);
}


.footer{
    width: 100%;
    text-align: center;
    margin-top: 35px;
}

.blackStyle{
    color: #fff;
    background-color: #000;
}

.topReturn{
    position: fixed;
    bottom: 15px;
    right: 15px;
}

.topReurn__link{
    background-color: beige;
    padding: 8px 15px;
    border-radius: 20px;
    text-decoration: none;
    background-color: rgba(159, 159, 159, 0.885);
    color: #fff;
}

.topReurn__link:hover{
        opacity: 0.5;
}

@media screen and (max-width: 1020px) {
    .main{
        width: 90%;
    }
}

@media screen and (max-width: 1020px) {
    .paragraph-text{
        padding-right: 10px;
    }
}